<footer class="footer-flex">
    <div class="footer-align">
      <h3>LINKS</h3>
      <a href="/">Home</a><br />
      <a href="/about">About</a><br />
      <a href="/login">Login</a>
    </div>
    <div class="footer-align">
      <h3>FOLLOW US</h3>
      <div class="follow-us">
        <a target="_blank" rel="noopener noreferrer" href="#"
          ><i class="fab fa-facebook"></i></a
        ><br />
        <a target="_blank" rel="noopener noreferrer" href="#"
          ><i class="fab fa-instagram"></i></a
        ><br />
        <a target="_blank" rel="noopener noreferrer" href="#"
          ><i class="fab fa-twitter"></i>
        </a>
      </div>
    </div>
  </footer>
</body>
</html>