<body>
  <header class="nav-flex">
    <a href="/">
      <img
        class="header-img"
        src="/images/Comic-collection-logo.png"
        alt="Code Squad Comics
        logo"
      />
    </a>
    <nav>
      <ul class="open">
        <li class="nav-align"><a href="/">HOME</a></li>
        <li class="nav-align"><a href="/about">ABOUT</a></li>
        <li class="nav-align"><a href="/login">LOGIN</a></li>
        <li class="nav-align"><a href="/register">REGISTER</a></li>
      </ul>
    </nav>
    <div class="hamburger-menu"><i class="fa fa-bars"></i></div>
  </header>
</body>
