<%- include('../partials/head') -%> <%- include('../partials/nav') -%>
<div class="content-container">
  <h1>ADMIN PAGE</h1>
  <!-- Logout button  does this need to be inside a form? What is the correct path? -->
  <input class="yellow-button button-center" type="submit" value="Submit" />
  <button><a href="/logout/auth/google" role="button">Logout</a></button>
  <!--check the route above-->
  <!-- Add new comic button-->
  <button class="yellow-button button-center">
    <a href="./admin-console/create-book/">ADD NEW COMIC</a>
  </button>
  <!--table-->
  <div class="content-div-center">
    <table>
      <tr>
        <th>COMIC TITLE</th>
        <th>EDIT</th>
        <th>DELETE</th>
      </tr>
      <%- include('../partials/book-listing') -%>
    </table>
  </div>
</div>
<%- include('../partials/footer') -%>
